@charset "UTF-8";
/* CSS Document */

html, body {
  color: DarkSlateGray;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  margin: 10px;
}

#module-one {
  font-size: 2em;
}

h1 {
  font-family:'Sansita Swashed', cursive;
  font-size: 1.875em;
  font-weight: bold;
}

h2 {
  font-size: 1.125em;
  font-weight:bold;
}

p {
  font-size: 1em;
}

#module-two {
  font-size: 1em;
}

h3 {
  font-size: 2em;
  font-weight: bold;
}

#module-three {
  font-size: 0.5em;
}

h4 {
  font-size: 2.6rem;
  font-weight: bold;
}
