@charset "UTF-8";
/* CSS Document */

html, body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  margin: 10px;
}

h1 {
  color: DarkSlateGray;
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}

h2 {
  color: DarkSlateGray;
  font-family: 'Source Sans Pro';
  font-size: 3rem;
  font-weight:bold;
}

h3 {
  color: DarkSlateGray;
  font-family: 'Source Sans Pro';
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  color: DarkSlateGray;
  font-family: 'Source Sans Pro';
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: DarkSlateGray;
  font-family: 'Source Sans Pro';
  font-size: 1rem;
}
